{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'teeest.css'%}">
    <title>Document</title>
</head>
<body>
    <h1>index page</h1>
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laudantium impedit ipsam vero. Doloremque ipsa adipisci eum. Eius aliquid provident praesentium neque hic mollitia impedit minima ut laudantium, qui nihil.</p>
    
</body>
</html>