<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>avalin safhe man </h1>
    
    <br><br>
    <p>Lorjcxcem ipsum dolor sit amet consectetur adipisicing elit. Architecto, cupiditate aut! Consequuntur, eius quaerat similique ab ipsum culpa quibusdam eaque, iure enim totam est. Beatae optio delectus odio expedita adipisci!</p>
</body>
</html>